html, body {
	background: #EEE;
	font-family: 'Julius Sans One', Trebuchet, Arial, sans-serif;
	margin: 0;
	padding: 2% 5%;
	text-align: center;
	width: 90%;
}
ol, ul, li {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.category {
	background: #08C;
	float: left;
	margin: 0;
	margin-right: 15px;
	position: relative;
  width: 210px;
}
.category:after {
	border-left: 105px solid transparent;
	border-right: 105px solid transparent;
	border-top: 65px solid #08C;
	content: '';
	display: block;
	height: 0;
	line-height: 0px;
	position: absolute;
	top: 100%;
	width: 0;
}
.category.active:after {
	border-top: 65px solid #333;
}
.category>div {
	color: #FFF;
	cursor: pointer;
	display: block;
	height: 100px;
	line-height: 55px;
	margin: 0;
	padding: 40px 30px;
	width: 150px;
}
.category span {
	font-size: 24px;
}
.category.active {
	background: #333;
}
.category span:before {
	content: counter(category, decimal-leading-zero);
	counter-increment: category 1;
	display: block;
	font-size: 91px;
  margin-bottom: 15px;
}
.category a {
	color: #FFF;
	display: block;
	margin: 2px auto;
	padding: 15px 40px;
	text-align: left;
	text-decoration: none;
}
.category a.active {
	background: #444;
}

.category a:before {
	color: #FFF;
	content: '\2605';
	margin-right: 3px;
	visibility: hidden;
}
.category a:hover:before, .category a.active:before {
	visibility: visible;
}
.category input {
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #555;
	color: #FFF;
	font-size: 24px;
  outline: 0;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}
.category.plus {
  background: none;
  font-size: 151px;
  height: auto;
  width: auto;
}
.category.plus div {
  color: #CCC;
}
.category.plus div:hover {
  color: #AAA;
}
.category.plus:after {
  display: none;
}
.clearfix:before, .clearfix:after {
	content: ' ';
	display: table;
}
.clearfix:after {
	clear: both;
}
.container {
	counter-reset: category -1;
	margin: 35px auto;
	width: auto;
	padding: 0 20px;
}
.link input {
  font-size: 14px;
  margin-top: 15px;
  width: 100%;
}
.link input.url {
  text-transform: none;
}
