body { 
		background-color:#050505;
		color:ffffff;
	}
	
        #stripe {
        width:100%;
		vertical-align:middle;
        }

	#mainframe {
		text-align: center;
		position: absolute;
		top: 25%;
		left:16%;
		right:11%;
	}
	
	#footer {
		position: absolute;
		bottom : 0;
		right: 0;
		text-align: right;
		padding: 10px;
		font-size:30%;
	}
	
	#linkblock {
		width:20%;
		height:140px;
		margin-left:25px;
		margin-right:30px;
		margin-top:30px;
		margin-bottom:40px;
		padding-left:67px;
		padding-right:1px;
		padding-top:0px;
		padding-bottom:5px;
		color:#000;
		text-align: left;
		background-position:top 0px left 0px;; 
		background-repeat:no-repeat;
		font-family: 'Droid Sans', sans-serif;
		font-size:100%;
		display: inline-block;
		vertical-align: top;
		border-left: 3px solid #333;
    }
	
	
	ul { 
		list-style-type: none;
		padding-left: 0;

	} 
	
	a:link { text-decoration:none; font-weight:normal; color:#666; }
	a:visited { text-decoration:none; font-weight:normal; color:#666; }
	a:hover { text-decoration:none; font-weight:normal; color:#ddd; }
	a:active { text-decoration:none; font-weight:normal; color:#ddd; }
	a:focus { text-decoration:none; font-weight:normal; color:#ddd; }
	
	#footer a:link { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:visited { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:hover { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:active { text-decoration:none; font-weight:normal; color:#101010; }
	#footer a:focus { text-decoration:none; font-weight:normal; color:#101010; }