:root {
	--baseclr: #607d8b;
	--accnt: #FF9800;
}

body{

	margin: 0;

	background-color: #eceff1; /*Make this the same color as the footer text */
		/*#eceff1;*/
}

#rss{

	display: block;
	float: right;
	position: relative;
	top: 0;
	right: 0;
	height: 100%;
	width: 20vw;
	padding-left: 10px;
	padding right: 10px;
	z-index: 5;

	text-align: center;

	box-shadow: -3px 0px 6px rgba(0,0,0,0.16), -3px 0px 6px rgba(0,0,0,0.23); /* h/v/b/clr */
	transition: all 0.2s ease-in-out;
	color: transparent;
	background: var(--baseclr);

}
.rssRow a{
	color: white;
	text-decoration: none;
	font-family: 'Liberation Sans';
	font-weight: normal;
}
.rssRow a:visited{
	color: var(--accnt);
}
#rss:hover {
	box-shadow: -19px 0px 38px rgba(0,0,0,0.30), -15px 0px 12px rgba(0,0,0,0.22);
}

#searchbox{
	position: fixed;
	left: 13.5%;
	top: 150px;
	width: 50%;
	height:36px;
	border: 2px solid #555;
	border-radius: 2px;
	outline: none;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;

	font-size: 1.2em;
	font-family: 'Corbel';

	color: #333;
	background-color: white;
}


#weather{

	position: fixed;
	width: 50%;
	left: 14.5%;
	font-size: 1em;

}

/*#currentWeather {
	display: block;
	float: left;
	text-align: center;
}*/

#currentWeather, .weatherForecastText, .weatherForecastDate{
	display: none;
}

.icon {
	max-width: 100% !important;
	margin-bottom: -8%;
}

.weatherForecastItem{
	display: block;
	float: left;
	padding-right: 2.5%;
	padding-left: 2.5%;
	width: 15%;
	background-image: none;
	text-align: center;
	font-size: .85em;
}

#links {

	position: fixed;
	left: 2%;
	top: 25%;
	width: 75%;
	height: 67%;

	background-color: black;
	color: white;

}
.ribbon{
	width: 100%;
	background-color: salmon;
}
