/* ##### HIDDEN ITEMS ##### */
#TabsToolbar .titlebar-placeholder[type="pre-tabs"],
#TabsToolbar .tab-line,
#page-action-buttons,
#new-tab-button,
#alltabs-button,
#back-button, 
#forward-button,
#identity-icon,
#identity-box,
#titlebar-close, 
#titlebar-min, 
#titlebar-max,
#PanelUI-button,
.bookmark-item .toolbarbutton-icon,
.tab-close-button,
.urlbar-history-dropmarker,
.tabs-newtab-button,
.tabbrowser-tab::after, 
.tabbrowser-tab::before,
.tab-icon-image:not([pinned]),
.tabbrowser-tab:not([pinned])[busy] .tab-icon-image,
.arrowscrollbox-overflow-start-indicator,
.arrowscrollbox-overflow-end-indicator
{
	display: none !important;
}

:root {
	--accent: #77dd77;
	--darkaccent: #33aa33;
	--bgnd: #222;
	--fgnd: #333;
	--tabheight: 4vh;
}

/* ##### TABS ##################################### */

#TabsToolbar {
	margin-bottom: -1vh !important;
	margin-left: calc(30vw) !important;
	margin-right: -4vw !important;
	background-color: var(--bgnd) !important;
	height: var(--tabheight) !important;
}

.scrollbutton-up, 
.scrollbutton-down 
{
	color: var(--accent) !important;
}

#nav-bar {
	height: var(--tabheight) !important;
	margin-top: -3vh !important;
	margin-right:calc(70vw) !important;
	background-color: var(--bgnd) !important;
	box-shadow: none !important;
}

.tab-label { /* Why tho?? */
	-moz-box-flex: 1 !important;
	text-align: center !important;
}

.tabbrowser-tab {
	height: var(--tabheight) !important;
	border: none !important;
	color: var(--darkaccent) !important;
	background-color: var(--bgnd) !important;
}

.tabbrowser-tab[selected] {
	color: var(--accent) !important;
	background-color: #333 !important;
}

/* ##### URL BAR ########################################## */
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow,
#appMenu-popup 
{
	-moz-box-ordinal-group: 0 !important;
}

/* Custom bindings.xml in same folder as userChrome, for simple URL */
#urlbar {
	-moz-binding: url("bindings.xml#urlbar") !important;
	background-color: #333 !important;
	color: var(--accent) !important;
	border: none !important;
	text-align: center !important;
}

#urlbar-container {
	min-width:20vw !important;
}