/*                          
	
	MATERIAL-FOX


This is a HEAVILY edited CSS skin for firefox, originally from the github repo...
Here: https://github.com/commit-sudoku/firefox-css

If you would like to change the color scheme for your own personal tastes, and you don't know what material design is...
Look here: https://www.google.com/design/spec/material-design/introduction.html

If you know what Material Design is, and want to get started using your own colors...
Look here: https://www.google.com/design/spec/style/color.html#color-color-palette

  As a rule of thumb, The color types I used for each element are listed across from the color values themselves.
If you don't understand what they mean or stand for, RTFM -> (https://www.google.com/design/spec/style/color.html#color-color-palette
)

If you would like to fork this, or improve it and make a pull request, 
Look here: *Gonna Upload this in a sec*
*/

/* AGENT_SHEET */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#TabsToolbar:not(:-moz-lwtheme)::after, 
#TabsToolbar:not(:-moz-lwtheme)::before {
  display: none !important;
}

/* Reduced FFox Window Settings */
#main-window:not([chromehidden*="toolbar"])[sizemode="normal"]
{
 margin-top:-5px!important;
 margin-left:-0px!important;
 margin-right:0px!important;
 margin-bottom: 0px !important;
}

/* Maximized FFox Window settings */
#main-window:not([chromehidden*="toolbar"])[sizemode="maximized"]
{
 margin-top:-5px!important;
 margin-left:0px!important;
 margin-right:0px!important;
 margin-bottom: 0px !important;
 padding-top: 0px !important;
 padding-bottom: 0px !important;
}


.tab-background-start, 
.tab-background-end {
  visibility: hidden !important;
  box-shadow: none !important;
}

.tab-background-middle {
  background: none !important;
}

#TabsToolbar, #TabsToolbar *{
  clip-path: none !important;
  max-height: 42px !important;
}

#TabsToolbar, 
.tabbrowser-tab *, 
.tabs-newtab-button,
.toolbarbutton, 
.tab-background *{
  background-image: none !important;
}

.tab-background,
.tab-background-middle,
.tabbrowser-tab:after,
.tabbrowser-tab:before,
.tabbrowser-tab:after {
  box-shadow: none !important;
  background: none !important;
}
    
#TabsToolbar:after {
  border-bottom: 10px solid #e8eaed !important;
}

#main-window {
  -moz-appearance: -moz-win-glass !important;
}

#urlbar-reload-button,
.urlbar-history-dropmarker,
#star-button,
#page-proxy-favicon,
#go-button,
#notification-popup-box,
#tabbrowser-tabs .scrollbutton-up,
#tabbrowser-tabs .scrollbutton-down,
statusbarpanel,
#identity-box,
#urlbar-container dropmarker,
toolbar#addon-bar toolbarbutton .toolbarbutton-menubutton-dropmarker,
toolbar#addon-bar #addonbar-closebutton,
#appmenu-button,
#appmenu-toolbar-button,
#reader-mode-button,
#readinglist-addremove-button
#lpt_lastpass-compact-btn {
  display: none !important;
}

/* borders for the browser? left / right? Top / Bottom? NO FUCKING CLUE */
#browser-border-end,
#browser-border-start {
  display:none !important;
}

#main-window[sizemode=normal] #browser-bottombox {
  display:none !important;
}

#nav-bar #PanelUI-menu-button {
  padding: 0 !important;
}

#PanelUI-button {
  background: none !important;
}

/* #main-menubar {
  margin-bottom: 20px !important;
} */

select > button,
select > input {
  opacity: 0 !important;
}

#content[disablehistory] {
  background-color: #161616 !important;
}

/* Tha fuck is this?? */
#_dlbar_finTipContent {
  background: #fafafa !important;
  border: 1px solid gray !important;
  border-radius: 0px !important
}

.browserContainer > findbar {
  -moz-box-ordinal-group: 10 !important;
}

.findbar-closebutton {
  -moz-box-ordinal-group: 0 !important;
  margin-left: 10px !important;
}

.findbar-textbox {
  width: 30em !important;
}

.findbar-case-sensitive {
  margin-right: 1400px !important;
}


/**
    TABS
*/

/* Not the tabs themselves, the bar BEHIND the tabs */
#TabsToolbar {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  margin-left: -17px !important;
/*   margin-right: -35px !important; */
/*   padding-right: -5px !important; */
  border: none !important;
  background: #3949ab !important;                          /* 700 color*/
}

#main-window .tabbrowser-tab {
  border: 0 !important;
  background: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

tab {
  font-family: "Segoe UI", sans-serif !important;
  text-align: center !important;
}

.tabbrowser-tabs:not([drag=detach]) > .tabbrowser-tab:not([pinned])[fadein] {
min-width: 25px !important;
max-width: 250px !important;
}

.tabbrowser-tab:not([pinned]) .tab-throbber,
.tabbrowser-tab .tab-close-button,
.tabbrowser-tab:not([pinned]) .tab-icon-image {
   visibility: collapse !important;
}

/* Dont know what this does */
#main-window .tabbrowser-tab {
  height: 26px !important;
  min-height: 26px !important;
}

/* Standard Tabs */

#main-window .tabbrowser-tab {
  border-width: 0 1px 0 2px !important;
  border-style: solid !important;
  border-right-color: #1a237e !important; /*The darker color of the shadow*/    /* 900 color*/
  border-left-color: #283593 !important;  /*Lighter color of the shadow*/       /* 800 color*/
/*   font-size:12px */
  color: #ffffff !important;
}

/* Not sure what this changes unfortunately */
#main-window #tabbrowser-tabs tab[pinned] {
  padding: 0px 0px 0px 0px !important;
}

/* Background tabs, non-hovered */
#main-window .tabbrowser-tab:not(:-moz-lwtheme)  {
  background-color: #3949ab !important;
/*   box-shadow: inset 0 -5px 15px -15px rgba(0, 0, 0, 0.1) !important; */
  color: #7986cb !important;                                                   /* 300 color*/
}


/* Tab Hover for unselected tabs (tabs you're hovering over)*/

#main-window .tabbrowser-tab:-moz-any(:not([pinned]),[pinned]:not([titlechanged])):not([selected]):hover {
/*   background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0,0,0, 0)) !important; */
/*   background-color: #8c9eff !important; */
  color: #fff !important;
}

/* Selected Tab (Tab you are currently viewing)*/

#main-window .tabbrowser-tab[selected] {
  background-color: #3949ab !important;                                       /* 600 color*/
/*   box-shadow: none !important; */
  color: #fff !important;
  border-bottom: 1px solid !important;
  border-bottom-color: #283593 !important;                                    /* 800 color*/
/*   margin-bottom: 0px !important; */
/*   font-size: 12px !important; */
}

/* Pinned tab titlechange */

.tabbrowser-tab[titlechanged] .tab-icon-image {
  animation: newpost .9s ease infinite; 
}

.tabbrowser-tab[titlechanged] {}
@keyframes newpost {
  25% {  transform: scale(1.1);   }
}

/* new tab button */

.tabs-newtab-button {
  width: 38px !important;
  float: right !important;
  margin-top: 1px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  background: #ffffff !important;
  box-shadow: inset 0 -5px 15px -15px rgba(0, 0, 0, .5) !important;
  border: 1px solid rgba(71,79,115,.25) !important;
  border-bottom: none !important;
  border-radius: 2px 2px 0 0 !important;
}

.tabs-newtab-button .toolbarbutton-icon {
  margin-bottom: -3px !important;
}

.tabs-newtab-button:hover {
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .6)) !important;
}

.tabs-newtab-button:active {
  background-color: #f2f2f2 !important;
  box-shadow: none !important;
  background-image: -moz-linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.5) 50%) !important;
  color: #444 !important;
}

/*styling*/
#searchbar > .searchbar-textbox,

/* The URL Bar... Obviously */
#urlbar {
/*  You NEED These two border tags so there isn't a blue bar when you click the url bar */
    border-bottom: 0px solid !important;
    border-top: 1px solid #5c6bc0 !important;                                 /* 400 color*/

    text-align: center !important;
    background: #7986cb !important;                                           /* 300 color*/
/*     padding-left: -1px !important; */
/*     margin-top: 0px !important;
    
    margin-right: 0px !important;*/
/*     border-bottom: 1px solid #5c6bc0 !important; */
/*     padding: 0px !important; */
  
  /*The text color for the urlbar*/
    color: #7986cb !important;                                                /* 300 color*/
    height: 28px !important;
    font-size: 12px;
}

#urlbar:hover {
    color: #fff !important;
}

#nav-bar {
    height: 26px;
    background-color: #7986cb !important;                                     /* 300 color*/
    margin-left: -6px !important;
    margin-right: -5px !important;
/*     border-top: -1px #7986cb !important; */
/*     border-bottom: -1px #7986cb !important; */
    color: #fff !important;
/*     border-top: 0px solid #3f51b5 !important; */
/*     margin-bottom: 0px !important; */

/*     margin-top: 0px !important; */
/*     border-left: none !important;
    border-right: none !important; */
}

  #PanelUI-button, #customization-panel-container,
  #customization-panelWrapper .panel-arrow,
  #ctr_panelui-button,
  #wrapper-ctr_panelui-button {

    -moz-box-ordinal-group: 0

  }


#PanelUI-button {

    background-position: 100% 0, calc(100% - 1px) 0, calc(100% - 2px) 0;
    background: url('http://i.imgur.com/Hef8ASW.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: none !important;
    width: 5px !important;
    display: none !important; /*COMMENT THIS LINE FOR A MENU BUTTON*/
  }
#PanelUI-button .button-icon,
#PanelUI-button .button-text{
    display: none !important;
}
#PanelUI-menu-button {
    opacity: 0 !important;
    width: 5px !important;
    margin-right: 7px !important;
}


#identity-box, #dropmarker-icon, #historydropmarker, #autocomplete-history-dropmarker, #urlbar-history-dropmarker, #dropmarker {
    display: none !important;
}

#autocomplete-history-dropmarker, #urlbar-history-dropmarker, #urlbar-reload-button {
    display: none !important;
}

.autocomplete-history-dropmarker.urlbar-history-dropmarker {
    display: none !important;
}

#plugins-notification-icon, #notification-anchor-icon, #notification-popup-box {
    display: none !important;
    
}

/* remove tab scrolling */

.scrollbutton-up, .scrollbutton-down, #alltabs-button {
    display: none !important;
}

/*downloads*/
#downloads-button {
    display: none !important;
    /*
    background: url('http://i.imgur.com/761lNIV.png') !important;
    background-repeat: no-repeat  !important;
    background-position: center !important;
    opacity: 1 !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    box-shadow: none !important;
    width: 10px !important;
    */
}

#toolbarbutton-icon .Downloads,
#downloads-indicator-icon,
#downloads-indicator-progress-area,
#downloads-button .button-text {
    display: none !important;
}

/* remove back/fwd */

#nav-bar  #back-button > .toolbarbutton-icon {
 display: none !important;
}
 #forward-button {
 display: none !important;
}

#downloads-indicator-anchor {opacity: 0 !important;}

#downloads-button:hover {
    opacity: 1 !important;
    box-shadow: none !important;
    background: url('http://i.imgur.com/761lNIV.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

scrollbar[orient="vertical"] {
  min-width: 16px !important;
  max-width: 16px !important;
  margin-left: -1px !important;
}
scrollbar[orient="horizontal"] {
  min-height: 16px !important;
  max-height: 16px !important;
  margin-top: -1px !important;
}