/* Body */
body {
	background: url("Background.png");
	font: 1.1em 'Roboto Light', sans-serif;
	color: #FFFFFF;
	}
.preload {
	transition: none;
	}
h1 {
	font: 4.0em 'Lobster', cursive;
	text-align: center;
	}



/* Links */
ul {
	list-style-type: none;
	margin-top: 8;
	padding-left: 0;
	}
li {
	padding-left: 16;
	border-radius: 20;
	}
li:hover {
	background: #EEEEEE;
	box-shadow: 0 0 10px #FFFFFF;
	transition: 0.15s linear;
	}
li a {
	margin-left: -16;
	padding-left: 16;
	}
a {
	display: block;
	width: 100%;
	color: #FFFFFF;
	text-decoration: none;
	cursor: default;
	}
a:hover {
	color: #000000;
	transition: 0.15s linear;
	}



/* Containers */
#boxes {
	width: 98%;
	margin: 0 1% 0 1%;
	}
.box {
	float: left;
	width: 18%;
	margin: 0 1% 0 1%;
	opacity: 0.5;
	transition: 0.15s linear;
	}
.box:hover, .sbox:hover {
	opacity: 1.0;
	transition: 0.15s linear;
	}
.box h4, .sbox h4 {
	margin: 0 0 0 0;
	font: 1.5em 'Roboto Condensed', sans-serif;
	text-align: center;
	border-bottom: 1px #FFFFFF solid;
	}



/* Search Boxes */
.sbox {
	float: left;
	width: 18%;
	margin: 0 1% 0 1%;
	opacity: 0.9;
	transition: 0.15s linear;
	}
#search {
	width: 100%;
	margin-top: 8;
	}
form {
	margin-bottom: 12;
	}
td a {
	margin-top: -10;
	border-radius: 20px;
}
td:hover a {
	background: #EEEEEE;
	box-shadow: 0 0 4px #FFFFFF;
	color: #000000;
	transition: 0.3s linear;
	}
td:nth-child(1) {
	float: left;
	width: 30%;
	padding: 0 0 0 0;
	text-align: center;
	}
td:nth-child(2) {
	float: right;
	width: 70%;
	padding: 0 0 0 20;
	}
input {
	height: 16;
	width: 80%;
	padding: 0 0 0 8;
	border: none;
	border-radius: 20px;
	opacity: 0.8;
	cursor: default;
	transition: 0.15s linear;
	}
input:hover, input:focus {
	width: 100%;
	opacity: 1.0;
	box-shadow: 0 0 4px #FFFFFF;
	}
