# ------------------------------------------------------
# BlackboxBar+ 1.17 - configuration

# Lines starting with # or ! are ignored

# ---------------------
# The items on the bar:
# This builds a toolbar with tasks and tray. You can
# change the order of items or uncomment some of the
# currently disabled (!) items)

!BlackboxBar.item: WindowLabel
!BlackboxBar.item: WorkspaceButtonL
!BlackboxBar.item: WorkspaceButtonR
BlackboxBar.item: WorkspaceLabel
BlackboxBar.item: Tasks
!BlackboxBar.item: CurrentOnlyButton
!BlackboxBar.item: Tray
!BlackboxBar.item: WindowButtonL
!BlackboxBar.item: WindowButtonR
BlackboxBar.item: Clock

!BlackboxBar.item: TaskStyleButton
!BlackboxBar.item: NewLine
!BlackboxBar.item: Space

# ----------------
# General Settings
BlackboxBar.placement: TopCenter
BlackboxBar.position.x: 128
BlackboxBar.position.y: 0
BlackboxBar.widthPercent: 100
BlackboxBar.useSlit: false
BlackboxBar.pluginToggle: true
BlackboxBar.OnTop: true
BlackboxBar.AutoHide: false
BlackboxBar.autoRaise: true
BlackboxBar.snapToEdge: 0
BlackboxBar.snapWindow: 0
BlackboxBar.arrowBullets: false
BlackboxBar.alpha.enabled: false
BlackboxBar.alpha.value: 255
BlackboxBar.transparent: false

# ---------
# Task Tabs
BlackboxBar.tasks.style: 0
BlackboxBar.tasks.reverse: false
BlackboxBar.tasks.current: true
BlackboxBar.tasks.sysmenu: false
BlackboxBar.tasks.drawBorder: false
BlackboxBar.tasks.maxWidth: 100

------------
# Icons
BlackboxBar.icon.saturation: 100
BlackboxBar.icon.hue: 64
BlackboxBar.icon.size: 16

# ------------
# Clock-Format
BlackboxBar.strftimeFormat: %d %a %H:%M
BlackboxBar.strftimeTipsFormat: %Y-%m-%d %a

# ---------------
# Special Options
BlackboxBar.balloonTips: false
BlackboxBar.autoFullscreenHide: true
BlackboxBar.setDesktopMargin: false
BlackboxBar.sendToSwitchTo: true

# -------------------------
# hidden icons (auto saved)
BlackboxBar.tray.hidden.count: 0
BlackboxBar.minHeight: 20
BlackboxBar.clock.tips: false
BlackboxBar.clock.Btn1Click: 
BlackboxBar.clock.Btn2Click: 
BlackboxBar.clock.Btn3Click: 
BlackboxBar.clock.Btn4Click: 
BlackboxBar.clock.Btn5Click: 
BlackboxBar.clock.Btn6Click: 
BlackboxBar.alwaysOnTop: false
BlackboxBar.2.placement: BottomCenter
BlackboxBar.2.position.x: 768
BlackboxBar.2.position.y: 864
BlackboxBar.2.useSlit: false
BlackboxBar.2.alwaysOnTop: false
BlackboxBar.2.autoHide: false
BlackboxBar.2.autoFullscreenHide: false
BlackboxBar.2.clickRaise: true
BlackboxBar.2.snapWindow: 20
BlackboxBar.2.pluginToggle: true
BlackboxBar.2.alpha.enabled: false
BlackboxBar.2.alpha.value: 192
BlackboxBar.2.icon.saturation: 80
BlackboxBar.2.icon.hue: 60
BlackboxBar.2.icon.size: 16
BlackboxBar.2.widthPercent: 72
BlackboxBar.2.minHeight: 12
BlackboxBar.2.tasks.style: 2
BlackboxBar.2.tasks.reverse: false
BlackboxBar.2.tasks.current: true
BlackboxBar.2.tasks.sysmenu: false
BlackboxBar.2.tasks.drawBorder: false
BlackboxBar.2.tasks.maxWidth: 100
BlackboxBar.2.strftimeFormat: %a %d %H:%M
BlackboxBar.2.strftimeTipsFormat: %Y-%m-%d %a
BlackboxBar.2.clock.tips: true
BlackboxBar.2.clock.Btn1Click: 
BlackboxBar.2.clock.Btn2Click: 
BlackboxBar.2.clock.Btn3Click: 
BlackboxBar.2.clock.Btn4Click: 
BlackboxBar.2.clock.Btn5Click: 
BlackboxBar.2.clock.Btn6Click: 
BlackboxBar.2.setDesktopMargin: true
BlackboxBar.2.sendToSwitchTo: false
BlackboxBar.2.arrowBullets: false

