# ------------------------------------------------------
# BlackboxBar+ 1.17 - configuration

# Lines starting with # or ! are ignored

# ---------------------
# The items on the bar:
# This builds a toolbar with tasks and tray. You can
# change the order of items or uncomment some of the
# currently disabled (!) items)

!BlackboxBar.item: WindowLabel
!BlackboxBar.item: WorkspaceButtonL
!BlackboxBar.item: WorkspaceButtonR
BlackboxBar.item: WorkspaceLabel
BlackboxBar.item: Tasks
!BlackboxBar.item: CurrentOnlyButton
BlackboxBar.item: Tray
!BlackboxBar.item: WindowButtonL
!BlackboxBar.item: WindowButtonR
BlackboxBar.item: Clock

!BlackboxBar.item: TaskStyleButton
!BlackboxBar.item: NewLine
BlackboxBar.item: Space
#This is a test for symlinking
# ----------------
# General Settings
BlackboxBar.placement: TopCenter
BlackboxBar.position.x: 192
BlackboxBar.position.y: 0
BlackboxBar.widthPercent: 100
BlackboxBar.useSlit: false
BlackboxBar.pluginToggle: true
BlackboxBar.OnTop: true
BlackboxBar.AutoHide: false
BlackboxBar.autoRaise: true
BlackboxBar.snapToEdge: 0
BlackboxBar.snapWindow: 0
BlackboxBar.arrowBullets: false
BlackboxBar.alpha.enabled: false
BlackboxBar.alpha.value: 200
BlackboxBar.transparent: false

# ---------
# Task Tabs
BlackboxBar.tasks.style: 0
BlackboxBar.tasks.reverse: false
BlackboxBar.tasks.current: true
BlackboxBar.tasks.sysmenu: false
BlackboxBar.tasks.drawBorder: true
BlackboxBar.tasks.maxWidth: 33

------------
# Icons
BlackboxBar.icon.saturation: 0
BlackboxBar.icon.hue: 100
BlackboxBar.icon.size: 16

# ------------
# Clock-Format
BlackboxBar.strftimeFormat: %a %d-%m %I:%M
BlackboxBar.strftimeTipsFormat: %Y-%m-%d %a

# ---------------
# Special Options
BlackboxBar.balloonTips: false
BlackboxBar.autoFullscreenHide: true
BlackboxBar.setDesktopMargin: true
BlackboxBar.sendToSwitchTo: true

# -------------------------
# hidden icons (auto saved)
BlackboxBar.tray.hidden.count: 10
BlackboxBar.tray.hidden.1: "ytWindow",10159320
BlackboxBar.tray.hidden.2: "WindowsForms10.Window.0.app.0.34f5582_r37_ad1",1
BlackboxBar.tray.hidden.3: "WindowsForms10.Window.0.app.0.34f5582_r37_ad1",1
BlackboxBar.tray.hidden.4: "SkyDrive Class Name {090B42FF-7B26-4416-99B6-CB17896CF07C}",501
BlackboxBar.tray.hidden.5: "WindowsForms10.Window.0.app.0.34f5582_r12_ad1",1
BlackboxBar.tray.hidden.6: "USurface_101640",1
BlackboxBar.tray.hidden.7: "SystemTray_Main",1225
BlackboxBar.tray.hidden.8: "Afx:0000000140000000:0",128
BlackboxBar.tray.hidden.9: "WindowsForms10.Window.0.app.0.34f5582_r37_ad1",1
BlackboxBar.tray.hidden.10: "#32770",49397
BlackboxBar.minHeight: 28
BlackboxBar.clock.tips: false
BlackboxBar.clock.Btn1Click: 
BlackboxBar.clock.Btn2Click: 
BlackboxBar.clock.Btn3Click: 
BlackboxBar.clock.Btn4Click: 
BlackboxBar.clock.Btn5Click: 
BlackboxBar.clock.Btn6Click: 
BlackboxBar.alwaysOnTop: true
BlackboxBar.placement: TopCenter
BlackboxBar.clickRaise: true

