# ------------------------------------------
# bbZero 1.17.x - blackbox.rc - basic settings

# Lines starting with # or ! are ignored
# All items are configurable from the menu

# - the toolbar -
session.screen0.toolbar.enabled: false
session.screen0.toolbar.placement: BottomCenter
session.screen0.toolbar.widthPercent: 66
session.screen0.toolbar.onTop: true
session.screen0.toolbar.autoHide: false
session.screen0.toolbar.pluginToggle: true
session.screen0.toolbar.alpha.enabled: false
session.screen0.toolbar.alpha.value: 224

# - the menu -
session.menu.position.x: 280
session.menu.position.y: 148
session.menu.maxWidth: 300
session.menu.popupDelay: 80
session.menu.mouseWheelFactor: 3
session.menu.alpha.enabled: false
session.menu.alpha.value: 255
session.menu.onTop: false
session.menu.sticky: true
session.menu.snapWindow: true
session.menu.pluginToggle: true
session.menu.openDirection: bullet
session.menu.sortbyExtension: true
session.menu.drawSeparators: true
session.menu.dropShadows: true
session.menu.icon.saturation: 80
session.menu.icon.hue: 60
session.menu.icon.size: 16
session.menu.overlap: 0

# - appearance -
session.appearance.bullet.unix: true
session.appearance.arrow.unix: false
session.appearance.cursor.usedefault: false

# - graphics -
session.background.smartWallpaper: false
session.background.enabled: true
session.opaqueMove: true
session.imageDither: 0
session.outlineText: false
session.force.font.Shadows: false

# - snap -
session.snap.toPlugins: true
session.snap.padding: 2
session.snap.threshold: 10

# - misc options -
session.screen0.focusModel: ClickToFocus
session.screen0.fullMaximization: false
session.screen0.strftimeformat: %H:%M %a %d %b

# - workspace options -
session.screen0.workspaces_wraparound: true
session.screen0.workspaces: 3
session.screen0.workspacesX: 3
session.screen0.workspacesY: 1
session.workspaces.followActive: true
session.workspaces.restoreToCurrent: true
session.workspaces.altMethod: true
session.workspaces.styleXPFix: false
session.screen0.workspacenames: alpha,beta,gamma

# - additional menu settings  -<S-F12>
session.autoraisedelay: 250
session.options.UTF8Encoding: false

# - non-menu settings  -
session.menufile: menu.rc
session.openFolderCommand: explorer.exe /e,"%1"
session.options.disableTray: false
session.options.disableVWM: false
session.options.disableMargins: false
session.options.disableDesk: false
session.options.disableDDE: false
session.options.desktopHook: false
session.options.shellContextMenu: false

# - under Explorer (non-menu) -
session.options.hideExplorer: true
session.options.hideTaskbar: true

# - the slit -
session.screen0.slit.placement: TopRight
session.screen0.slit.direction: Horizontal
session.screen0.slit.autoHide: false
session.screen0.slit.ontop: true
session.screen0.slit.toggle: false

# - current style -
session.styleFile: styles\nightBlue.style
