# -----------------------------------------------------
# bbZero 1.17.x - extensions.rc

# Lines starting with # or ! are ignored

# -----------------------------------------------------
# Favorite Tool

# The default editor for menu, styles and settings
blackbox.editor: bbnote.exe

# Alternative menu bullets (a template is in 'docs')
! blackbox.appearance.bullet.bitmap: menu-bullets.bmp

# -----------------------------------------------------
# Drag'n-dropped background images are saved here
blackbox.background.rootCommand: style

# -----------------------------------------------------
# Desktop Mouse Clicks

# General: blackbox.desktop.[<mod>]<button>Click: <command>
# <mod>    = Alt, Shift, Ctrl
# <button> = Left, Mid, Right, X1, X2, X3, Double

# these are built-in, but may be changed here
! blackbox.desktop.RightClick: @BBCore.ShowMenu root
! blackbox.desktop.MidClick: @BBCore.ShowMenu workspaces

# styles menu
blackbox.desktop.AltMidClick: @BBCore.ShowMenu styles >> @BBCore.style %1

# workspaces menu
blackbox.desktop.CtrlLeftClick: @BBCore.ShowMenu workspaces

# tasks menu
blackbox.desktop.CtrlRightClick: @BBCore.ShowMenu tasks

# configuration menu
blackbox.desktop.AltRightClick: @BBCore.ShowMenu configuration

# alternative menu
! blackbox.desktop.CtrlRightClick: @BBCore.ShowMenu alt-menu.rc


# -----------------------------------------------------
# Miscellaneous options (uncomment to use)

# command for double left click on a folder in the menu
! blackbox.options.openFolderCommand: explorer.exe /e,"%1"

# other locale may be set (for the clock display)
! blackbox.options.locale: <usa, gbr, rus, fra, ita, etc ...>

# run something after processing the system startup items
! blackbox.startup.run: <any command or @broam>

# enable some debug output during startup (to "blackbox.log"):
! blackbox.options.log: startup tray

# use unicode for filenames and UTF-8 for menus
! blackbox.options.UTF8Encoding: false


# -----------------------------------------------------
# System dependent Tweak

# Left margin adjustment for contextmenus with icons (normal/sendTo)
! blackbox.contextmenu.itemAdjust: 28/28


# -----------------------------------------------------
# Global font override - for special purposes

# Enable this feature?
blackbox.global.fonts.enabled: false

# override font definitions from styles:
blackbox.global.toolbar.font: verdana
blackbox.global.toolbar.fontHeight: 13
blackbox.global.toolbar.fontWeight: normal

blackbox.global.menu.title.font: verdana
blackbox.global.menu.title.fontHeight: 13
blackbox.global.menu.title.fontWeight: bold

blackbox.global.menu.frame.font: verdana
blackbox.global.menu.frame.fontHeight: 13
blackbox.global.menu.frame.fontWeight: normal

blackbox.global.window.font: verdana
blackbox.global.window.fontHeight: 13
blackbox.global.window.fontWeight: bold

# -----------------------------------------------------
