# ---------------------------------------------
# bbZero 1.17.x - plugin.rc - the plugins to load

# - Items may be added, enabled or disabled from
# - the config menu as needed. Removal is left to
# - manual editing.

# - the BB hotkeys, see bbkeys.rc
plugins\bbKeys\bbKeys.dll

# - Integrated toolbar with tasks and tray
plugins\BlackboxBar\BlackboxBar.dll

# - Lean window skinner
plugins\bbLeanSkin\bbLeanSkin.dll

# - The Slit - a common place for other plugins
plugins\bbSlit\bbSlit.dll

# - bb interface plugin(s)
!plugins\bbInterface_iTunes\bbInterface_iTunes.dll

!plugins\SystemBarEx\SystemBarEx.dll

# - separator line for the plugin menu
[sep]

# - Plugins in the slit
& plugins\bbAnalog\bbAnalog.dll
& plugins\bbIconBox\bbIconBox.dll
! & plugins\BBAnalogExMod\BBAnalogExMod.dll
! & plugins\bbFoomp\bbFoomp.dll
plugins\bbColor3dc\bbColor3dc.dll

# - submenu with more plugins
[sep]
[submenu] (other)
! plugins\bbPager\bbPager.dll
! plugins\bbRecycleBin\bbRecycleBin.dll
! plugins\bbWorkspaceWheel\bbWorkspaceWheel.dll
! plugins\BBRSS\BBRSS.dll
! plugins\bbCalendar\bbCalendar.dll
! plugins\BBDigitalEx\BBDigitalEx.dll
! plugins\BBMagnify\BBMagnify.dll
! plugins\BBMessageBox\BBMessageBox.dll
! plugins\BBStyle\BBStyle.dll
! plugins\BBSysMeter\BBSysMeter.dll
[end]

[sep]
[submenu] (players)
! plugins\bbFooMan\bbFooMan.dll
! plugins\bbPlayer\bbPlayer.dll
! plugins\bbMuse\bbMuse.dll
! plugins\bbSeekBar\bbSeekBar.dll
[end]

[sep]
[submenu] (toys)
! plugins\BB8Ball\BB8Ball.dll
! plugins\BBXO\BBXO.dll
[end]



