# -----------------------------------------------------------------
# bbZero 1.17.x - MENU FILE
# -----------------------------------------------------------------

# Available menu commands are listed in the documentation.
#This is a test for symlinking
[begin] (You Called?)
[submenu] (Common)
	[exec] (Cygwin) {"C:\cygwin64\cygwin.bat"}
	[exec] (Firefox) {"D:\Programs\Firefox\firefox.exe"}
	[exec] (HexChat) {"D:\Programs\HexChat\hexchat.exe"}
	[exec] (Scrot) {"C:\Program Files (x86)\Scrotter\scrotter.exe"}
	[exec] (Steam) {"D:\Programs\Steam\steam.exe"}
	[exec] (VirtualBox) {"C:\Program Files\Oracle\VirtualBox\VirtualBox.exe"}
	#[path] (Desktop) {DESKTOPDIRECTORY|COMMON_DESKTOPDIRECTORY}
	[end]
	[nop]

	# Paths with spaces should have quotes:
	
	
	![stylesmenu] (Styles) {styles}
	[submenu] (BlackBox)
		[config] (Configuration)
		[include] {plugins\bbLeanSkin\bbLeanSkinMenu.rc}
		[submenu] (Edit)
			[editstyle] (Current Style)
			[editmenu] (menu.rc)
			[editblackbox] (blackbox.rc)
			[editextensions] (extensions.rc)
			[editplugins] (plugins.rc)
			[edit] (bbKeys.rc) {plugins\bbKeys\bbKeys.rc}
			[edit] (search.rc) {search.rc}
			[end]
		#[submenu] (Search)
			#[reindex] (Reindex)
			#[abortindex] (Abort indexing)
			#[edit] (search.rc) {search.rc}
			#[end]

		[nop]

		# Also note that relative paths refer to the blackbox directory
		#[exec] (Documentation) {docs\bblean.htm}
		[exec] (Install/Uninstall) {bsetshell.exe}
		#[exec] (bbStyleMaker) {bbstylemaker.exe}
		[nop]
		#[reconfig] (Reconfigure)
		[restart] (Restart)
		[exit]  (Quit)
		[end]
	[submenu] (Power Options)
		[lockworkstation] (Lock)
		[logoff] (Logoff)
		[suspend] (Standby)
		[reboot] (Reboot)
		[shutdown] (Shutdown)
		[end]
		![search] (Search) {SEARCHMENU|COMMON_SEARCHMENU}

	[submenu] (System)
		[path] (Admin) {CONTROLS}
		[path] (Git){"C:\Users\Patrick\git"}
		[path] (Home) {PERSONAL}
		[path] (Root) {DRIVES}
		[path] {STARTMENU|COMMON_STARTMENU}
		[path] (Trash) {BITBUCKET}
		# Uncomment this line to check out all available system folders
		# [include] {shellfolders.rc}
		![run]  (Run)
		[end]
[end]
