/*
	Page Setup
*/
*{
	margin: 0;
	padding: 0;
}

*::-webkit-input-placeholder{
	opacity: 0.3;
}

body{
	background: #222;
	padding-top: 15%;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
}

p, li, a{
	color: #fd7070;
	font-family: Lato, courier new;
	letter-spacing:2px;
}

/*
	Favorite
*/
.favorites{
	width: 90%;
	margin: 10px auto 0 auto;
	text-align: center;
}

.favorites p{
	border-bottom: 1px solid #fd7070;
	padding-right: 100%;
}

.list{
	display: inline-block;
	width: 18%;
	margin: 0 15px;
	vertical-align: text-top;
}

.list ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	display: block;
	padding: 3px;
}

a:hover{
	color: #222;
	background: #fd7070;
}

/*
	Google Pages
*/
.googles{
	width: 90%;
	margin: 60px auto;
	text-align: center;
}

.googles p{
	display: inline-block;
	width: 18%;
	margin: 0 10px;
	border: 1px solid #fd7070;
}
	
/*
	Search Bars
*/
form{
	width: 90%;
	margin: auto;
	padding: 5px;
	text-align: center;
	position: relative;
}

.search{
	width: 400px;
	height: 20px;
	margin-right: -4px;
	padding: 2px;
	background: #222;
	color: #fd7070;
	border: 1px solid #444;
}

.search:focus{
	outline: none;
	border: 1px solid #fd7070;
}

.go{
	height: 26px;
	width: 40px;
	background: #222;
	color: #fd7070;
	border: 1px solid #fd7070;
}

.go:hover{
	background: #fd7070;
	color: #222;
	cursor: pointer;
}

.go:focus{
	outline: none;
}